<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="CollegeCourseDB"
			 connectionString="Server=tcp:collegecourse-server.database.windows.net,1433;
                           Initial Catalog=college-course-db;
                           Persist Security Info=False;
                           User ID=CloudSAe1be0b4c;
                           Password=Adaighonacg1!;
                           MultipleActiveResultSets=False;
                           Encrypt=True;
                           TrustServerCertificate=False;
                           Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
